@tailwind base;
@tailwind components;
@tailwind utilities;

.cookie{
    background-image: url("assets/cookiethree-background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


  
  .content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    color: #f1f1f1;
    width: 100%;
    padding: 20px;
  }